# Created by .ignore support plugin (hsz.mobi)

*.cmake

\.idea/

CMakeFiles/3\.8\.2/

CMakeFiles/Goku\.dir/

CMakeFiles/

SFML-2\.4\.2/include/SFML/Audio/

SFML-2\.4\.2/include/SFML/Graphics/

SFML-2\.4\.2/include/SFML/

SFML-2\.4\.2/lib/

SFML-2\.4\.2/share/SFML/examples/ftp/
/SFML-2.4.2/
/cmake-build-debug/
/cmake_modules/
